<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>SpringBoot实现广播式WebSocket</title>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<noscript><h2 style="color:#ff0000">抱歉,您的浏览器不支持改功能!</h2></noscript>
<div>
    <div>
        <button id="connect" onclick="connect()">连接</button>
        <button id="send" onclick="send();">发送</button>
</div>

</div>
</body>
<script type="text/javascript">
    var socket;
    function connect() {
       socket = new WebSocket("ws://localhost:9000/websocket/2000/1000");
      socket.onopen = function (ev) {
          console.log("2000与1000连接成功");
      }
        socket.onmessage = function (ev) {
            console.log(ev.data);
            console.log( "2000 收到消息 ok")
        }
   }
   function send() {
       socket.send("{\"fileId\":\"2000\",\"order\":1}");
   }

</script>
</html>
